name: Gerar animação de cobra

on:

schedule: # executar a cada 12 horas

- cron: "* */12 * * *"

workflow_dispatch:

push:

branches:

- master

jobs:

generate:

permissions:

contents: write

runs-on: ubuntu-latest

timeout-minutes: 5

steps:

- name: generate snake.svg

uses: Platane/snk/svg-only@v3

with:

github_user_name: ${{ github.repository_owner }}
outputs: dist/snake.svg?palette=github-dark

- name: enviar snake.svg para o branch de saída

uses: crazy-max/ghaction-github-pages@v3.1.0

with:
target_branch: output
build_dir: dist
env:
GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
